#example-1 {
  border-right: 1px solid #eee;
}

.glyphicon-with-border {
  border: 1px solid #7e7e7e;
  border-radius: 3px;
  padding: 2px;
}

.browser-support {
  margin-left: 50px;
}

.browser-support strong {
  width: 50px;
  display: inline-block;
}
