body {
  /* static navbar*/
  padding-top: 70px;
}

#example-1 {
  border-right: 1px solid #eee;
}

.chart-export .file-format-name {
  width: 50px;
  display: inline-block;
}

.browser-support {
  margin-left: 50px;
}

.browser-support strong {
  width: 50px;
  display: inline-block;
}

.reference-list dt {
  margin-top: 16px;
  margin-bottom: 6px;
}

.reference-list dd {
  margin-bottom: 8px;
  padding-left: 16px;
}
